<ion-content class="ion-padding" style="background: url('/assets/menu.jpg') no-repeat center center; background-size: cover;">
  <div class="menu-container">
    <p class="ion-text-center">
      <ion-text color="primary">
        <h1><strong>Adivina el Número</strong></h1>
      </ion-text>
      <ion-text color="medium">-- DSM Games --</ion-text>
    </p>

    <!-- Opción Jugar -->
    <ion-card class="menu-option" mode="ios" routerLink="/game" color="success">
      <ion-card-header class="menu-option-header">
        <ion-card-title class="menu-option-title">Jugar</ion-card-title>
      </ion-card-header>
    </ion-card>

    <!-- Opción Ranking -->
    <ion-card class="menu-option" mode="ios" routerLink="/leaderboard" color="tertiary">
      <ion-card-header class="menu-option-header">
        <ion-card-title class="menu-option-title">Ranking</ion-card-title>
      </ion-card-header>
    </ion-card>

    <!-- Opción Salir -->
    <ion-card class="menu-option" mode="ios" (click)="presentExitAlert()" color="danger">
      <ion-card-header class="menu-option-header">
        <ion-card-title class="menu-option-title">Salir</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
