<ion-content class="ion-padding" style="background: url('/assets/menu.jpg') no-repeat center center; background-size: cover;">
  <div class="register-container">
    <ion-card mode="ios" class="register-card">
      <ion-card-header class="ion-text-center">
        <ion-card-title class="register-title">¡Regístrate!</ion-card-title>
        <ion-card-subtitle class="register-subtitle">Adivina el número</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <form #frmRegistro="ngForm">
          <!-- Campo de Usuario -->
          <ion-item lines="full" class="input-item" [class.invalid]="frmRegistro.controls['username']?.invalid && frmRegistro.controls['username']?.touched">
            <ion-label position="floating">Usuario</ion-label>
            <ion-input [(ngModel)]="usuario" type="text" name="username" required></ion-input>
          </ion-item>
          <div *ngIf="frmRegistro.controls['username']?.invalid && frmRegistro.controls['username']?.touched" class="error-message">
            El usuario es obligatorio.
          </div>

          <!-- Campo de Correo -->
          <ion-item lines="full" class="input-item" [class.invalid]="frmRegistro.controls['email']?.invalid && frmRegistro.controls['email']?.touched">
            <ion-label position="floating">Correo</ion-label>
            <ion-input [(ngModel)]="correo" type="email" name="email" required email></ion-input>
          </ion-item>
          <div *ngIf="frmRegistro.controls['email']?.invalid && frmRegistro.controls['email']?.touched" class="error-message">
            El correo es obligatorio y debe ser válido.
          </div>

          <!-- Campo de Contraseña -->
          <ion-item lines="full" class="input-item" [class.invalid]="frmRegistro.controls['password']?.invalid && frmRegistro.controls['password']?.touched">
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input [(ngModel)]="password" type="password" name="password" required minlength="6"></ion-input>
          </ion-item>
          <div *ngIf="frmRegistro.controls['password']?.invalid && frmRegistro.controls['password']?.touched" class="error-message">
            La contraseña es obligatoria y debe tener al menos 6 caracteres.
          </div>

          <br/>
          <!-- Botón de Registro -->
          <ion-button (click)="onClickRegistrar(frmRegistro)" expand="block" color="success" class="register-button">
            Registrarse
          </ion-button>
        </form>

        <!-- Enlace para iniciar sesión -->
        <div class="login-link">
          <ion-label>
            ¿Ya tienes una cuenta? 
            <a routerLink="/login">Inicia sesión aquí</a>
          </ion-label>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
